.main-container {
	margin-top: 3rem;
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 80px;
	width: 88%;
}

span.difficulty-circle {
	display: inline-block;
	border-radius: 50%;
	border-style: solid;
	border-width: 0.1px;
	margin-right: 5px;
	height: 12px;
	width: 12px;
}

.vote-input {
	border: none;
	outline: none;
	font-size: 18px;
	width: 100%;
}
